*.el
/reference.bib.bak
*.bbl
*.pdf
*.gz
*.log
保经导.tex
*.aux
*.blg
*.bcf
*.fdb_latexmk
*.fls
*.out
*.toc
*.xml
*.xdv
*.pyc
.vscode/*
*.xlsx
/readme.org
.ropeproject/config.py
.ob-jupyter/4e0e7bb391686cabff8e4fd95bf5a5352dca2255.png
/_minted-readme/
